
body{
    background-image: url("https://s.tmimgcdn.com/scr/1200x627/296200/premium-vector-background-images--high-quality-background--modern-hd-background-images_296286-original.jpg");
    background-size: cover;              
    background-repeat: no-repeat;        
    background-position: center center; 
    background-attachment: fixed; 
}
ul{
    text-align: center;

}
li{
    
    display:inline-flex;
    padding:15px;
    

}


h1{
    color: blue;
    margin-left: 530px;
}
.one{

    background-color:blueviolet;
    width: fit-content;
    margin-left: 500px;}
form{
        text-align: center;
        height: 230px;
        padding: 20px;
      }

body{
        
    background-color:black;
}
ul{
    text-align: right;

}
li{
    
    display:inline-flex;
    padding:15px;
    

}
 nav i{
    float: left;
    padding: 5px;
    font-size: 30px;
    color:darkorchid;
  }


h1{
    color: blue;
    
}
.one{

    background-color:blueviolet;
    width: fit-content;
    
  }
.two{
    height: 80px;
    padding: 10px;
}
.two p{
    color: blue;
}
.two div{
    text-align: center;
    }
 .two div i{
    font-size: 30px;
    padding:7px;
 }   